<section id="banner">
  <div class="inner">
    <h1><%= @collection.name %></h1>

    
    <p>
      <%= @collection.description %>
      <%= "<br>- #{@collection.subject.display_name} -" unless @collection.subject.nil? %>
    </p>

    <% if signed_in? && current_user == @collection.user %>

    <ul class="actions">
      <li><a href="/collections/<%= @collection.id %>/edit" class="button big">Edit Collection</a></li>
      <li><a href="/user" class="button alt big">Return to All Collections</a></li>
    </ul>

    <% end %>

  </div>
</section>

<section id="galleries">

  <div class="gallery">
    <header>
    <p><%= "<a href='/collections/#{@collection.id}/new_card' class='button'>Add or Edit Cards</a>" if signed_in? && current_user == @collection.user %></p>
    </header>
    <div class="content">
      <% @collection.cards.each do |card| %>
      <div class="media all">
        <div class="front">
          <a href="/card/<%= card.id %>" data-poptrox="iframe,600x400"><div class="cholder"><%= card.front %></div></a>
        </div>
      </div>
      <% end %>
    </div>
  
  </div>
</section>
  <% if signed_in? && current_user == @collection.user %>
    <header id="header"><br><span>
      <form action="/collections/<%= @collection.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input value="Delete Collection" class="button alt small" style="color:#7a7a7a" type="submit"></span>
      </form>
		</header>
<% end %>

