<section id="banner">
  <div class="inner">
    <h1><%= @collection.name %></h1>
    <p><%= @collection.description %></p>

    <% if signed_in? && current_user == @collection.user %>

    <form action="/collections/<%= @collection.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <ul class="actions">
        <li><a href="/collections/<%= @collection.id %>/edit" class="button">Edit</a></li>
				<li><input value="Delete Collection" class="button alt" type="submit"></li>
			</ul>
    </form>

    <% end %>

  </div>
</section>

<section id="galleries">

  <div class="gallery">
    <header>
    <p><%= "<a href='/collections/#{@collection.id}/new_card' class='button'>Add Card</a>" if signed_in? && current_user == @collection.user %></p>
    </header>
    <div class="content">

      <% @collection.cards.each do |card| %>
      <div class="media all">
          <a href="/card/<%= card.id %>" data-poptrox="iframe,600x400"><img src="/images/thumbs/05.jpg" alt="" title="<%= card.front %>" /></a>
      </div>
      <% end %>
    </div>
  
  </div>
</section>




