<header id="header">
  <div>  <span>FlishFlash</span></div>
</header>


<section>
  <div class="inner">
    <header>
      <h1>Welcome back, <%= @user.username %>!</h1>
    </header>
    <div class="inner">
    
      <h3>Create a new Collection</h3>
      <form action="/collections" method="post">
        <div class="field half first">
          <label for="name">Name</label>
          <input name="collection[name]" id="name" type="text" placeholder="New Vocab!">
        </div>
        <div class="field half">
          <label for="description">Description</label>
          <input name="collection[description]" id="description" type="text" placeholder="Chapter 2, lesson 4: Olde English terms with Germanic roots">
        </div>
        <div class="field">
          <label>Subject</label>

          <% Subject.all.each do |subject| %>
            <input type="radio" id="<%= subject.id %>" value="<%= subject.id %>" name="collection[subject_id]" <%= 'checked' if subject.id == 1 %>>
            <label for="<%= subject.id %>"><%= subject.display_name %></label>
          <% end %>
        </div>
        <ul class="actions">
          <li><input value="Create new Collection" class="button" type="submit"></li>
        </ul>
      </form>
    </div>
  </div>
</section>

<!-- Gallery -->
<section id="galleries">

  <!-- Photo Galleries -->
    <div class="gallery">

      <!-- Filters -->
        <header>
          <h1>Collections</h1>
          <ul class="tabs">
            <li><a href="#" data-tag="all" class="button active">All</a></li>
            <% current_user.subject_list.each do |subject| %>
            <li><a href="#" data-tag="<%= subject.name %>" class="button"><%= subject.display_name %></a></li>
            <% end %>
          </ul>
        </header>


        <section class="columns double">
          <% @user.collections.each do |collection| %>

          <div class="media column all <%= collection.subject.name unless collection.subject.nil? %>">
            <a href="/collections/<%= collection.id %>">
            <span class="image left special"><img src="../../images/banner/thumbs/<%= collection.subject.name %>.jpg" alt="" /></span></a>
            <h3><a class="ctitle" href="/collections/<%= collection.id %>"><%= collection.name %></a></h3>
            <p>
              Number of cards: <%= collection.cards.count %><br>
              <%= "Subject: #{collection.subject.display_name}<br>" unless collection.subject.nil? %>
              <%= collection.description %>
            </p>
          </div>

          <% end %>

        </section>























    </div>
</section>