<header id="header">
  <div>  <span>FlishFlash</span></div>
</header>


<section>
  <div class="inner">
    <header>
      <h1>Welcome back, <%= @user.username %>!</h1>
    </header>
    <div class="inner">
    
      <h3>Create a new Collection</h3>
      <form action="/collections" method="post">
        <div class="field half first">
          <label for="name">Name</label>
          <input name="collection[name]" id="name" type="text" placeholder="New Vocab!">
        </div>
        <div class="field half">
          <label for="description">Description</label>
          <input name="collection[description]" id="description" type="text" placeholder="Chapter 2, lesson 4: Olde English terms with Germanic roots">
        </div>
        <div class="field">
          <label for="message">Subject</label>
          <input type="radio" id="foreign" name="subject" value="foreign">
          <label for="foreign">Foreign Language</label>
          <input type="radio" id="math" name="subject" value="math">
          <label for="math">Math</label>
          <input type="radio" id="science" name="subject" value="science">
          <label for="science">Science</label>
          <input type="radio" id="other" name="subject" value="other">
          <label for="other">Other</label>
        </div>
        <ul class="actions">
          <li><input value="Create new Collection" class="button" type="submit"></li>
        </ul>
      </form>
    </div>
  </div>
</section>

<section id="collections">
  <div class="inner">
    <h2>Collections</h2>
    <section class="columns double">
    <% @user.collections.each do |collection| %>
    <div class="column">
      <a href="/collections/<%= collection.id %>">
      <span class="image left special"><img src="images/pic02.jpg" alt="" /></span>
      <h3><%= collection.name %></h3></a>
      <p>
        Number of cards: <%= collection.cards.count %><br>
        <%= collection.description %>
      </p>
    </div>
    <% end %>

    </section>
  </div>
</section>